[workspace]
resolver = "2"
members = [
    "arci",
    "arci-gamepad-gilrs",
    "arci-gamepad-keyboard",
    "arci-ros",
    "arci-ros2",
    "arci-speak-cmd",
    "arci-speak-audio",
    "arci-urdf-viz",
    "openrr",
    "openrr-apps",
    "openrr-client",
    "openrr-command",
    "openrr-config",
    "openrr-gui",
    "openrr-planner",
    "openrr-plugin",
    "openrr-remote",
    "openrr-teleop",

    # internal
    "arci-ros/tests/hygiene",
    "openrr-plugin/examples/plugin",
    "tools/codegen",
]

[workspace.package]
version = "0.0.7"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/openrr/openrr"
homepage = "https://openrr.github.io"

[workspace.dependencies]
abi_stable = "0.11"
anyhow = "1"
arci = "0.0.7"
arci-gamepad-gilrs = "0.0.7"
arci-gamepad-keyboard = "0.0.7"
arci-ros = "0.0.7"
arci-speak-audio = "0.0.7"
arci-speak-cmd = "0.0.7"
arci-urdf-viz = "0.0.7"
assert_approx_eq = "1.1"
assimp = "0.3"
async-recursion = "1"
async-trait = "0.1"
auto_impl = "1"
clap = { version = "4", features = ["derive"] }
clap_complete = "4"
criterion = "0.4"
easy-ext = "1"
eframe = "0.21"
egui_extras = "0.21"
flaky_test = "0.1"
flume = "0.10"
fs-err = "2"
futures = "0.3"
gilrs = { version = "0.10", features = ["serde-serialize"] }
heck = "0.4"
image = { version = "0.24", default-features = false }
k = "0.29"
mesh-loader = "0.0.2"
nalgebra = "0.30"
ncollide3d = "0.33"
nix = "0.26"
num-traits = "0.2"
once_cell = "1"
openrr-apps = { version = "0.0.7", default-features = false }
openrr-client = { version = "0.0.7", default-features = false }
openrr-command = { version = "0.0.7", default-features = false }
openrr-config = { version = "0.0.7", default-features = false }
openrr-gui = { version = "0.0.7", default-features = false }
openrr-planner = { version = "0.0.7", default-features = false }
openrr-plugin = { version = "0.0.7", default-features = false }
openrr-teleop = { version = "0.0.7", default-features = false }
parking_lot = "0.12"
paste = "1"
portpicker = "0.1"
prettyplease = "=0.1.23"
proc-macro2 = "1"
prost = "0.11"
prost-types = "0.11"
quote = "1"
r2r = "0.6"
rand = "0.8"
rayon = "1.5"
rodio = "0.17"
ros-nalgebra = "0.1"
rosrust = "0.9"
rrt = "0.7"
rustyline = "10"
schemars = "0.8"
scoped-sleep = "0.1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = "2"
syn = "1"
tempfile = "3"
termios = "0.3"
tf_rosrust = "0.0.5"
thiserror = "1"
tokio = "1"
tokio-test = "0.4"
toml = "0.5"
toml-query = "0.10"
tonic = "0.8"
tonic-build = "0.8"
tracing = { version = "0.1", features = ["log"] }
tracing-appender = "0.2"
tracing-subscriber = { version = "0.3", default-features = false, features = ["ansi", "env-filter"] }
trajectory = "0.1"
urdf-rs = "0.6"
urdf-viz = "0.41"
ureq = { version = "2", features = ["json"] }
url = "2"

[patch.crates-io]
arci = { path = "arci" }
arci-gamepad-gilrs = { path = "arci-gamepad-gilrs" }
arci-gamepad-keyboard = { path = "arci-gamepad-keyboard" }
arci-ros = { path = "arci-ros" }
arci-ros2 = { path = "arci-ros2" }
arci-speak-audio = { path = "arci-speak-audio" }
arci-speak-cmd = { path = "arci-speak-cmd" }
arci-urdf-viz = { path = "arci-urdf-viz" }
openrr = { path = "openrr" }
openrr-apps = { path = "openrr-apps" }
openrr-client = { path = "openrr-client" }
openrr-command = { path = "openrr-command" }
openrr-config = { path = "openrr-config" }
openrr-gui = { path = "openrr-gui" }
openrr-planner = { path = "openrr-planner" }
openrr-plugin = { path = "openrr-plugin" }
openrr-remote = { path = "openrr-remote" }
openrr-teleop = { path = "openrr-teleop" }

[profile.release]
lto = true
codegen-units = 1
strip = "symbols"
