move_base = "plugin1"

[openrr_clients_config]
urdf_path = "../../openrr-planner/sample.urdf"
self_collision_check_pairs = ["l_shoulder_yaw:l_gripper_linear1"]

[[openrr_clients_config.collision_check_clients_configs]]
name = "arm_collision_checked"
client_name = "arm"

[[openrr_clients_config.ik_clients_configs]]
name = "arm_ik"
client_name = "arm_collision_checked"
solver_name = "arm_ik_solver"

[[openrr_clients_config.joints_poses]]
pose_name = "zero"
client_name = "arm_collision_checked"
positions = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

[openrr_clients_config.ik_solvers_configs.arm_ik_solver]
ik_target = "l_tool_fixed"

[plugins.plugin1]
# Path to the plugin. If no extension is specified, the default extension
# for `cdylib` on the current OS will be selected.
# (linux: `.so`, macos: `.dylib`, windows: `.dll`)
path = "../../target/debug/libopenrr_plugin_example"

[[plugins.plugin1.instances]]
name = "arm"
type = "JointTrajectoryClient"
args = """
{
    "joint_names": [
        "l_shoulder_yaw",
        "l_shoulder_pitch",
        "l_shoulder_roll",
        "l_elbow_pitch",
        "l_wrist_yaw",
        "l_wrist_pitch"
    ]
}
"""

[[plugins.plugin1.instances]]
name = "plugin1"
type = "MoveBase"

[[plugins.plugin1.instances]]
# If the instances are of different types, the names of the instances will not conflict.
name = "plugin1"
type = "Navigation"

[plugins.arci_ros2]
path = "../../target/debug/libarci_ros2"

[[plugins.arci_ros2.instances]]
name = "arci_ros2"
type = "MoveBase"
args = """
topic = "/cmd_vel"
"""
